.container {
  margin-top: 1.5rem;
}

.cookingTimes {
  margin-top: 1rem;
  display: flex;
}

.cookingTimes span {
  padding: 1rem;
}

.recipe-delete {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  color: orange;
  font-weight: bold;
  margin-left: 5rem;
}

.header-container {
  display: flex;
  /* justify-content: space-between; */
}

.instructions,
.ingredients {
  margin-top: 2rem;
  line-height: 1.75rem;
}

ol {
  list-style-position: inside;
}

p {
  padding: 0;
  line-height: 2rem;
}

@media (max-width: 900px) {
  .recipe-delete {
    margin-left: 2.5rem;
  }
}
